<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
    <script src="../JS/class/Menu.js" defer></script>
  </head>
  <body>
    <header id="header">
      <img src="/img/logo.png" alt="" />
      <div id="headerDiv">
        <h1 id="headerTitre">Planète T-shirt</h1>
        <ul class="menu">
          <ul class="menu">
            <li id="acceuil"><a href="/acceuil">Acceuil</a></li>
            <li id="catalogue"><a href="/catalogue">Catalogue</a></li>
            <li id="panier"><a href="/panier">Panier</a></li>
            <% if(user===null) { %>
            <li id="conexion"><a href="/connection">Connexion</a></li>
            <% } else{ %>
            <li id="conexion"><a href="/profile">Profile</a></li>
            <% } %>
            <li id="boutique"><a href="/boutiques">boutiques</a></li>
          </ul>
        </ul>
      </div>
    </header>
    <main id="boutique">
      <h1>Dashboard</h1>
      <h2><a href="/gest_articles">Gestion Articles</a></h2>
      <h2><a href="/gest_boutiques"> Gestion Boutiques </a></h2>
    </main>

    <footer id="footer">
      <div id="divFooter">
        <a href="https://planette-thirt/contact.com/">
          <img src="/img/logo_contact.png" alt="contact" />
        </a>
        <ul id="ulFooter">
          <li id="liInstagram">
            <a href="https://instagram.com/"
              ><img src="/img/logo_instagram.png" alt=""
            /></a>
          </li>
          <li id="liFacebook">
            <a href="https://facebook.com/"
              ><img src="/img/logo_facebook.png" alt=""
            /></a>
          </li>
          <li id="liTwitter">
            <a href="https://twitter.com/"
              ><img src="/img/logo_twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
