<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doc</title>
    <link rel="stylesheet" href="css/index.css" />
    <link
      rel="stylesheet"
      href="https://drive.google.com/file/d/1J_JxwxW52ldZLVlZ-35Tv2bNqLRsKWHP/view?usp=sharing"
    />
  </head>
  <body>
    <header id="header">
      <img src="images/logo.png" alt="" />
      <div id="headerDiv">
        <h1 id="headerTitre">Planète T-shirt</h1>
        <ul class="menu">
          <li id="acceuil"><a href="/acceuil">Acceuil</a></li>
          <li id="catalogue"><a href="/catalogue">Catalogue</a></li>
          <li id="panier"><a href="/panier">Panier</a></li>
          <% if(user===null) { %>
          <li id="conexion"><a href="/connection">Connexion</a></li>
          <% } else{ %>
          <li id="conexion"><a href="/profile">Profile</a></li>
          <% } %>
          <li id="boutique"><a href="/boutiques">boutiques</a></li>
        </ul>
      </div>
    </header>
    <main id="acceuil">
      <div id="acceuilContent">
        <% if(user===null) { %>
        <h1 id="acceuilTitre">Bienvenue sur Planette T-shirt</h1>
        <% } else{ %>
        <h1 id="acceuilTitre">
          Bienvenue - <%= user.firstName %> <%= user.lastName %> - sur Planette
          T-shirt
        </h1>
        <% } %>

        <img id="'imgAcceuil" src="images/photo_acceuil.jpg" alt="" />
        <p id="pAcceuil">
          Chaine de magasin planette T-shirt ou vous trouverez votre bonheurs
        </p>
      </div>
    </main>
    <footer id="footer">
      <div id="divFooter">
        <a href="https://planette-thirt/contact.com/">
          <img src="images/logo_contact.png" alt="contact" />
        </a>
        <ul id="ulFooter">
          <li id="liInstagram">
            <a href="https://instagram.com/"
              ><img src="images/logo_instagram.png" alt=""
            /></a>
          </li>
          <li id="liFacebook">
            <a href="https://facebook.com/"
              ><img src="images/logo_facebook.png" alt=""
            /></a>
          </li>
          <li id="liTwitter">
            <a href="https://twitter.com/"
              ><img src="images/logo_twitter.png" alt=""
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
